<h1 class="font-bold uppercase text-28 font-monument my-[25px]">Grand tournoi de la Ghoulcon</h1>
<div class="flex mr-3 mt-16 mb-[200px]">
    <ol class="flex flex-1 flex-col justify-around mr-5 round">
        <li class="player loser">
            <span></span>
            Combattant
        </li>
        <li class="player winner">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
        <li class="player">
            <span></span>
            Combattant
        </li>
    </ol>
    <ol class="flex flex-1 flex-col justify-around mr-5 ml-5 round">
        <li id="round-2" class="player active">
            <span></span>
            Quart de finaliste
        </li>
        <li class="player">
            <span></span>
            Quart de finaliste
        </li>
        <li class="player">
            <span></span>
            Quart de finaliste
        </li>
        <li class="player">
            <span></span>
            Quart de finaliste
        </li>
        <li class="player">
            <span></span>
            Quart de finaliste
        </li>
        <li class="player">
            <span></span>
            Quart de finaliste
        </li>
        <li class="player">
            <span></span>
            Quart de finaliste
        </li>
        <li class="player">
            <span></span>
            Quart de finaliste
        </li>
    </ol>
    <ol class="flex flex-1 flex-col justify-around mr-5 ml-5 round">
        <li id="round-3" class="player">
            <span></span>
            Demi-finaliste
        </li>
        <li class="player">
            <span></span>
            Demi-finaliste
        </li>
        <li class="player">
            <span></span>
            Demi-finaliste
        </li>
        <li class="player">
            <span></span>
            Demi-finaliste
        </li>
    </ol>
    <ol class="flex flex-1 flex-col justify-around mr-5 ml-5 round">
        <li id="round-4" class="player">
            <span></span>
            Finaliste
        </li>
        <li class="player">
            <span></span>
            Finaliste
        </li>
    </ol>
    <ol class="flex flex-1 flex-col justify-around mr-5 ml-5 round round-winner">
        <li id="round-5" class="player">
            <span></span>
            Vainqueur
        </li>
    </ol>
</div>