<a (click)="back()" class="group flex flex-row items-center">
    <svg fill="none" height="13" viewBox="0 0 20 13" width="20" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.8945 5.5H3.41709L6.73367 2.2C7.13568 1.8 7.13568 1.2 6.73367 0.8C6.33166 0.4 5.72864 0.4 5.32663 0.8L0.301508 5.8C0.201005 5.9 0.201005 6 0.100502 6C0.100502 6.2 0 6.3 0 6.5C0 6.7 0.100502 6.8 0.100502 6.9C0.100502 7 0.201005 7.1 0.301508 7.2L5.32663 12.2C5.52764 12.4 5.82915 12.5 6.03015 12.5C6.23116 12.5 6.53266 12.4 6.73367 12.2C7.13568 11.8 7.13568 11.2 6.73367 10.8L3.41709 7.5H18.794C19.4975 7.5 20 7.1 20 6.5C20 5.9 19.4975 5.5 18.8945 5.5Z"
              fill="white"/>
    </svg>
    <span class="mx-[10px] group-hover:underline">Création</span>
    <span class="text-light-gray font-light group-hover:underline">/ Historique</span>
</a>
<app-character-preview [character]="creationService.character" class="my-[50px]"></app-character-preview>
<p class="font-light text-10 font-monument text-light-gray">03 / 03</p>
<h2 class="font-bold uppercase font-monument text-20">compétences</h2>
<p class="font-light text-14 text-light">Un nouveau personnage commence avec cinq compétences au choix parmi les compétences de combat et de terrain. Suivant
    son clan, certaines seront obligatoires.</p>
<app-spacer class="bg-lighter-dark mt-[50px] mb-[30px]"></app-spacer>
<ng-container *ngIf="clanSkills.length > 0">
    <h3 class="font-light uppercase font-monument text-10 mb-[18px] text-light-gray">
        compétences obligatoires
    </h3>
    <div class="flex max-w-md flex-col space-y-[12px]">
        <div *ngFor="let skill of clanSkills"
             class="text-start py-[18px] px-[24px] gray-box text-yellow">
            {{(skill | idToData:dataService.skills.getValue())?.name}}
            ({{((skill | idToData:dataService.skills.getValue())?.base | idToData:dataService.bases.getValue())?.shortName}})
        </div>
    </div>
    <app-spacer class="bg-lighter-dark my-[30px]"></app-spacer>
</ng-container>
<h3 class="font-light uppercase font-monument text-10 mb-[16px] text-light-gray">
    <span class="rounded-xl font-normal text-blue font-neue text-16 bg-light-dark me-[12px] px-[12px] py-[3px]">{{5 - skillIds.length}}</span>
    compétences à choisir
</h3>
<div class="grid grid-cols-1 gap-[10px] md:grid-cols-2 lg:grid-cols-3">
    <button (click)="addSkill(skill)" *ngFor="let skill of uncommonSkills" class="col-span-1 row-span-1 max-w-md text-start h-[48px] px-[24px] text-14"
            [ngClass]="skillIds.includes(skill._id) ? 'gray-box text-yellow hover:bg-lighter-dark' : 'black-box hover:bg-dark'">
        {{skill.name}} ({{(skill.base | idToData:dataService.bases.getValue())?.shortName}})
    </button>
</div>
<app-spacer class="bg-lighter-dark mt-[30px] mb-[50px]"></app-spacer>
<div class="flex max-w-md flex-row mb-[120px]">
    <button (click)="back()" class="flex items-center rounded-xl border h-[52px] px-[28px] border-lighter-dark me-[12px]">Retour</button>
    <button (click)="submit()"
            class="flex flex-grow items-center justify-center rounded-xl h-[52px] bg-purple group disabled:text-dark-gray disabled:cursor-default disabled:bg-black"
            [disabled]="skillIds.length !== 5">
        Finaliser
        <svg class="fill-white ms-[10px] group-disabled:fill-dark-gray" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12">
            <path d="M1.10553 7L16.5829 7L13.2663 10.3C12.8643 10.7 12.8643 11.3 13.2663 11.7C13.6683 12.1 14.2714 12.1 14.6734 11.7L19.6985 6.7C19.799 6.6 19.799 6.5 19.8995 6.5C19.8995 6.3 20 6.2 20 6C20 5.8 19.8995 5.7 19.8995 5.6C19.8995 5.5 19.799 5.4 19.6985 5.3L14.6734 0.299999C14.4724 0.0999989 14.1709 -5.096e-07 13.9699 -5.27173e-07C13.7688 -5.44745e-07 13.4673 0.0999989 13.2663 0.299999C12.8643 0.699998 12.8643 1.3 13.2663 1.7L16.5829 5L1.20603 5C0.502513 5 5.7699e-07 5.4 5.24537e-07 6C4.72083e-07 6.6 0.502512 7 1.10553 7Z"/>
        </svg>
    </button>
</div>