<div *ngIf="skillIds.length < 5" class="fixed bottom-[70px] lg:bottom-0 left-0 purple-gradient w-full h-[50px] items-center flex flex-row px-[15px]">
    <p class="mx-auto w-full max-w-[1024px]">
        <span class="rounded-xl font-normal text-blue font-neue text-16 bg-light-dark me-[12px] px-[12px] py-[3px]">{{5 - skillIds.length}}</span>
        Compétences a choisir
    </p>
</div>
<a (click)="back()" class="group flex flex-row items-center">
    <app-long-arrow-left class="fill-white"/>
    <span class="mx-[10px] group-hover:underline">Création</span>
    <span class="text-light-gray font-light group-hover:underline">/ Historique</span>
</a>
<app-character-preview [character]="creationService.character" class="my-[50px]"></app-character-preview>
<p class="font-light text-10 font-monument text-light-gray">03 / 03</p>
<h2 class="font-bold uppercase font-monument text-20">compétences</h2>
<p class="font-light text-14 text-light">Un nouveau personnage commence avec cinq compétences au choix parmi les compétences de combat et de terrain. Suivant
    son clan, certaines seront obligatoires.</p>
<app-spacer class="bg-lighter-dark mt-[50px] mb-[30px]"></app-spacer>
<ng-container *ngIf="clanSkills.length > 0">
    <h3 class="font-light uppercase font-monument text-10 mb-[18px] text-light-gray">
        compétences obligatoires
    </h3>
    <div class="flex max-w-md flex-col space-y-[12px]">
        <div *ngFor="let skill of clanSkills"
             class="text-start py-[18px] px-[24px] gray-box text-yellow">
            {{(skill | idToData:dataService.skills.getValue())?.name}}
            ({{((skill | idToData:dataService.skills.getValue())?.base | idToData:dataService.bases.getValue())?.shortName}})
        </div>
    </div>
    <app-spacer class="bg-lighter-dark my-[30px]"></app-spacer>
</ng-container>
<h3 class="font-light uppercase font-monument text-10 mb-[16px] text-light-gray">
    <span class="rounded-xl font-normal text-blue font-neue text-16 bg-light-dark me-[12px] px-[12px] py-[3px]">{{5 - skillIds.length}}</span>
    compétences à choisir
</h3>
<div class="grid grid-cols-1 gap-[10px] md:grid-cols-2 lg:grid-cols-3">
    <button (click)="addSkill(skill)" *ngFor="let skill of uncommonSkills"
            [ngClass]="skillIds.includes(skill._id) ? 'gray-box text-yellow hover:bg-lighter-dark' : 'black-box hover:bg-dark'"
            class="col-span-1 row-span-1 max-w-md text-start h-[48px] px-[24px] text-14">
        {{skill.name}} ({{(skill.base | idToData:dataService.bases.getValue())?.shortName}})
    </button>
</div>
<app-spacer class="bg-lighter-dark mt-[30px] mb-[50px]"></app-spacer>
<div class="flex max-w-md flex-row mb-[120px]">
    <button (click)="back()" class="flex items-center rounded-xl border h-[52px] px-[28px] border-lighter-dark me-[12px]">Retour</button>
    <button (click)="submit()"
            [disabled]="skillIds.length !== 5"
            class="flex flex-grow items-center justify-center rounded-xl h-[52px] bg-purple group disabled:text-dark-gray disabled:cursor-default disabled:bg-black">
        Finaliser
        <app-long-arrow-right class="fill-white ms-[10px] group-disabled:fill-dark-gray"/>
    </button>
</div>