<popper-content #options>
    <div class="flex flex-col px-[24px] py-[20px]">
        <a [routerLink]="['personnages',($character | async)?._id,'details']" class="w-full my-[10px] text-16 text-blue h-[26px] hover:underline">Modifier</a>
        <a (click)="copyCharacter()" class="w-full my-[10px] text-16 h-[26px] hover:underline">Créer une copie</a><!--
        <a class="w-full my-[10px] text-16 h-[26px] hover:underline">Rejoindre un groupe</a>
        <a class="w-full my-[10px] text-16 h-[26px] hover:underline">Créer un groupe</a>-->
        <app-spacer class="bg-lighter-dark mt-[15px]"/>
        <a (click)="deleteDialog.show()" class="w-full my-[13px] text-16 text-orange hover:underline">Supprimer le personnage</a>
    </div>
</popper-content>
<dialog #deleteDialog>
    <app-modal (close)="deleteDialog.close()" [dialog]="deleteDialog" mtext="<span class='text-16'>En cliquant sur le bouton “Supprimer” juste en dessous, ce personnage sera définitivement effacé. Il n’y a ni sauvegarde ni backup des données de l’application. <br/><br/><span class='text-orange'>Toute suppression est définitive.</span></span>"
               mtitle="supprimer le personnage">
        <h2 class="text-10 text-light-gray font-light font-monument uppercase">taper le nom du personnage</h2>
        <input [(ngModel)]="deleteNameConfirm" [placeholder]="(($character | async)?.firstName || '') + ' ' + ((($character | async)?.clan | idToData:dataService.clans.getValue())?.name || '')" class="input px-[24px] py-[17px] text-white mt-[18px] mb-[30px] placeholder-light-gray font-16"
               type="text">
        <button (click)="deleteDialog.close(); deleteCharacter()"
                [disabled]="deleteNameConfirm.toLowerCase() !== ((($character | async)?.firstName || '') + ' ' + ((($character | async)?.clan | idToData:dataService.clans.getValue())?.name || '')).toLowerCase()"
                class="black-button px-[28px] h-[52px] disabled:text-dark-gray disabled:hover:bg-black">
            Supprimer le personnage
        </button>
    </app-modal>
</dialog>
<div class="w-full bg-black px-[15px]">
    <div class="container mx-auto flex flex-row items-center justify-between pt-[20px] pb-[15px] h-[70px]">
        <a class="flex flex-row items-center text-16 hover:underline"
           routerLink="..">
            <svg class="me-[10px]" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
                <path d="M18.8945 5H3.41709L6.73367 1.7C7.13568 1.3 7.13568 0.7 6.73367 0.3C6.33166 -0.1 5.72864 -0.1 5.32663 0.3L0.301508 5.3C0.201005 5.4 0.201005 5.5 0.100502 5.5C0.100502 5.7 0 5.8 0 6C0 6.2 0.100502 6.3 0.100502 6.4C0.100502 6.5 0.201005 6.6 0.301508 6.7L5.32663 11.7C5.52764 11.9 5.82915 12 6.03015 12C6.23116 12 6.53266 11.9 6.73367 11.7C7.13568 11.3 7.13568 10.7 6.73367 10.3L3.41709 7H18.794C19.4975 7 20 6.6 20 6C20 5.4 19.4975 5 18.8945 5Z"
                      fill="white"/>
            </svg>
            Retour
        </a>
        <div class="flex flex-row gap-[10px]">
            <span class="text-14 px-[6px] py-[3px] bg-light-dark rounded-[6px] ms-[10px]"
                  [ngClass]="(($character | characterToReamingXp | async) || 0) >= 0 ? 'text-blue' : 'text-orange'">
                {{(($character | characterToReamingXp | async) || 0) >= 0 ? '↑' : '↓'}} {{Math.abs(($character | characterToReamingXp | async) || 0)}}
                EXP
            </span>
            <div [popperHideOnClickOutside]="true"
                 [popperPlacement]="NgxPopperjsPlacements.BOTTOMEND"
                 [popperStyles]="{'borderWidth':'1px','backgroundColor':'#030505','width':'270px','border-color':'#2F2F2F','border-radius':'8px'}"
                 [popperTrigger]="NgxPopperjsTriggers.click"
                 [popper]="options"
                 class="cursor-pointer border-2 px-[5px] rounded-[8px] border-lighter-dark h-[29px] hover:bg-dark"
                 popperApplyArrowClass="hidden">
                <svg fill="none" height="25" viewBox="0 0 24 25" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 13.5C12.5523 13.5 13 13.0523 13 12.5C13 11.9477 12.5523 11.5 12 11.5C11.4477 11.5 11 11.9477 11 12.5C11 13.0523 11.4477 13.5 12 13.5Z"
                          stroke="#DFDFDF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path d="M19 13.5C19.5523 13.5 20 13.0523 20 12.5C20 11.9477 19.5523 11.5 19 11.5C18.4477 11.5 18 11.9477 18 12.5C18 13.0523 18.4477 13.5 19 13.5Z"
                          stroke="#DFDFDF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path d="M5 13.5C5.55228 13.5 6 13.0523 6 12.5C6 11.9477 5.55228 11.5 5 11.5C4.44772 11.5 4 11.9477 4 12.5C4 13.0523 4.44772 13.5 5 13.5Z"
                          stroke="#DFDFDF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="w-full bg-cover bg-[url('assets/images/backgrounds/character-nav-bg.webp')] h-fit px-[15px] overflow-hidden">
    <div class="container mx-auto flex scrollbar:hidden w-full flex-row items-center overflow-x-scroll whitespace-nowrap h-[45px] space-x-[4px]">
        <a [routerLink]="'/personnages/' + ($character | async)?._id" [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="box-border px-[12px] border border-pink text-pink bg-black rounded-[8px] cursor-default hover:no-underline"
           class="px-[13px] py-[6px] hover:underline">
            Fiche
        </a>
        <a [routerLink]="'/personnages/' + ($character | async)?._id + '/lignee'"
           routerLinkActive="box-border px-[12px] border border-pink text-pink bg-black rounded-[8px] cursor-default hover:no-underline"
           class="px-[13px] py-[6px] hover:underline">
            Lignée
        </a>
        <!--<a [routerLink]="'/personnages/' + character._id + '/arcs'"
           routerLinkActive="box-border px-[12px] border border-pink text-pink bg-black rounded-[8px] cursor-default hover:no-underline"
           class="px-[13px] py-[6px] hover:underline">
            Arcs narratifs
        </a>
        <a [routerLink]="'/personnages/' + character._id + '/jutsus'"
           routerLinkActive="box-border px-[12px] border border-pink text-pink bg-black rounded-[8px] cursor-default hover:no-underline"
           class="px-[13px] py-[6px] hover:underline">
            Jutsus & techniques
        </a>
        <a [routerLink]="'/personnages/' + character._id + '/equipement'"
           routerLinkActive="box-border px-[12px] border border-pink text-pink bg-black rounded-[8px] cursor-default hover:no-underline"
           class="px-[13px] py-[6px] hover:underline">
            Équipements
        </a>-->
    </div>
</div>