<popper-content #options>
    <div class="flex flex-col px-[24px] py-[20px]">
        <a [routerLink]="['personnages',($character | async)?._id,'details']" class="w-full my-[10px] text-16 text-blue h-[26px] hover:underline">Modifier</a>
        <a (click)="copyCharacter()" class="w-full my-[10px] text-16 h-[26px] hover:underline">Créer une copie</a><!--
        <a class="w-full my-[10px] text-16 h-[26px] hover:underline">Rejoindre un groupe</a>
        <a class="w-full my-[10px] text-16 h-[26px] hover:underline">Créer un groupe</a>-->
        <a (click)="exportCharacter()" *ngIf="isShiftPressed | async" class="w-full my-[10px] text-16 h-[26px] hover:underline select-none">Exporter le
            personnage</a>
        <app-spacer class="bg-lighter-dark mt-[15px]"/>
        <a (click)="isShiftPressed.getValue() ? deleteCharacter() : deleteDialog.show()" class="w-full my-[13px] text-16 text-orange hover:underline">Supprimer le personnage</a>
    </div>
</popper-content>
<dialog #deleteDialog>
    <app-modal (close)="deleteDialog.close()" [dialog]="deleteDialog"
               mtext="<span class='text-16'>En cliquant sur le bouton “Supprimer” juste en dessous, ce personnage sera définitivement effacé. Il n’y a ni sauvegarde ni backup des données de l’application. <br/><br/><span class='text-orange'>Toute suppression est définitive.</span></span>"
               mtitle="supprimer le personnage">
        <h2 class="text-10 text-light-gray font-light font-monument uppercase">taper le nom du personnage</h2>
        <input [(ngModel)]="deleteNameConfirm"
               [placeholder]="(($character | async)?.firstName || '') + ' ' + ((($character | async)?.clan | idToData:dataService.clans.getValue())?.name || '')"
               class="input px-[24px] py-[17px] text-white mt-[18px] mb-[30px] placeholder-light-gray font-16"
               type="text">
        <button (click)="deleteDialog.close(); deleteCharacter()"
                [disabled]="deleteNameConfirm.toLowerCase() !== ((($character | async)?.firstName || '') + ' ' + ((($character | async)?.clan | idToData:dataService.clans.getValue())?.name || '')).toLowerCase()"
                class="black-button px-[28px] h-[52px] disabled:text-dark-gray disabled:hover:bg-black">
            Supprimer le personnage
        </button>
    </app-modal>
</dialog>
<div class="w-full bg-black px-[15px]">
    <div class="container mx-auto flex flex-row items-center justify-between pt-[20px] pb-[15px] h-[70px]">
        <a class="flex flex-row items-center text-16 hover:underline"
           routerLink="..">
            <app-long-arrow-left class="me-[10px] fill-white"/>
            Retour
        </a>
        <div class="flex flex-row gap-[10px]">
            <span [ngClass]="(($character | characterToReamingXp | async) || 0) >= 0 ? 'text-blue' : 'text-orange'"
                  class="text-14 px-[6px] py-[3px] bg-light-dark rounded-[6px] ms-[10px]">
                {{ (($character | characterToReamingXp | async) || 0) >= 0 ? '↑' : '↓' }} {{ Math.abs(($character | characterToReamingXp | async) || 0) }}
                EXP <!--TODO not updating-->
            </span>
            <div [popperHideOnClickOutside]="true"
                 [popperPlacement]="NgxPopperjsPlacements.BOTTOMEND"
                 [popperStyles]="{'borderWidth':'1px','backgroundColor':'#030505','width':'270px','border-color':'#2F2F2F','border-radius':'8px','z-index':'30'}"
                 [popperTrigger]="NgxPopperjsTriggers.click"
                 [popper]="options"
                 class="cursor-pointer border-2 px-[5px] rounded-[8px] border-lighter-dark h-[29px] hover:bg-dark"
                 popperApplyArrowClass="hidden">
                <img alt="Menu déroulant" src="assets/images/tree-dots.svg">
            </div>
        </div>
    </div>
</div>
<div class="w-full bg-cover bg-[url('assets/images/backgrounds/character-nav-bg.webp')] h-fit px-[15px] overflow-hidden">
    <div class="container mx-auto flex scrollbar:hidden w-full flex-row items-center overflow-x-scroll whitespace-nowrap h-[45px] space-x-[4px]">
        <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/personnages/' + ($character | async)?._id"
           class="px-[13px] py-[6px] hover:underline"
           routerLinkActive="box-border px-[12px] border border-pink text-pink bg-black rounded-[8px] cursor-default hover:no-underline">
            Fiche
        </a>
        <a [routerLink]="'/personnages/' + ($character | async)?._id + '/lignee'"
           class="px-[13px] py-[6px] hover:underline"
           routerLinkActive="box-border px-[12px] border border-pink text-pink bg-black rounded-[8px] cursor-default hover:no-underline">
            Lignée
        </a>
        <!--<a [routerLink]="'/personnages/' + character._id + '/arcs'"
           routerLinkActive="box-border px-[12px] border border-pink text-pink bg-black rounded-[8px] cursor-default hover:no-underline"
           class="px-[13px] py-[6px] hover:underline">
            Arcs narratifs
        </a>
        <a [routerLink]="'/personnages/' + character._id + '/jutsus'"
           routerLinkActive="box-border px-[12px] border border-pink text-pink bg-black rounded-[8px] cursor-default hover:no-underline"
           class="px-[13px] py-[6px] hover:underline">
            Jutsus & techniques
        </a>
        <a [routerLink]="'/personnages/' + character._id + '/equipement'"
           routerLinkActive="box-border px-[12px] border border-pink text-pink bg-black rounded-[8px] cursor-default hover:no-underline"
           class="px-[13px] py-[6px] hover:underline">
            Équipements
        </a>-->
    </div>
</div>