<button (click)="selectSpe()" *ngIf="selectedSpe"
        class="fixed right-0 bottom-0 left-0 z-30 h-[70px] px-[18px] py-[15px] purple-gradient hover:bg-opacity-95">
    Valider
</button>
<h1 class="font-bold uppercase mb-[8px] text-25 font-monument">choisir une spécialisation</h1>
<p class="font-light leading-160 mb-[30px]">Chaque spécialisation peut être prise plusieurs fois avec un maximum indiqué à droite dans la description.</p>
<div class="flex flex-col items-start gap-[12px] mb-[150px]">
    <div *ngFor="let spe of spes" class="w-full">
        <input [(ngModel)]="selectedSpe" [id]="'spe-' + spe._id" [value]="spe" class="absolute appearance-none peer" name="selectedSpe" type="radio">
        <label [for]="'spe-' + spe._id"
               class="flex flex-col justify-between items-start w-full max-w-lg bg-black border py-[17px] ps-[24px] pe-[18px] border-lighter-dark rounded-[10px] gap-[5px] cursor-pointer hover:bg-dark text-start peer-checked:bg-light-dark peer-checked:border-purple peer-checked:cursor-default group">
            <p class="flex flex-row justify-between items-center w-full">
                <span class="text-pink text-16 group-peer-checked:text-yellow">{{spe.name}}</span>
                <span class="space-x-[5px]">
                <span *ngIf="ownedSpes.has(spe._id)"
                      class="text-dark-gray">
                    {{spe.max - ownedSpes.get(spe._id)!}} restant{{(spe.max - ownedSpes.get(spe._id)!) > 1 ? 's' : ''}}
                </span>
                <span class="text-yellow text-12 rounded-xl bg-light-dark px-[12px] py-[4px] group-peer-checked:bg-lighter-dark">
                    {{spe.max === 1 ? "Unique" : spe.max + "x"}}
                </span>
            </span>
            </p>
            <p class="text-light">
                {{spe.effect}}
            </p>
        </label>
    </div>
</div>