<div class="grid grid-cols-3 grid-rows-1 bg-light-dark w-full rounded-[10px] gap-[4px] p-[4px]">
    <div (click)="setPrivacy('private')" class="text-center py-[18px] rounded-[8px] text-16"
         [ngClass]="privacy === 'private' ? 'bg-yellow text-black cursor-default' : 'bg-dark cursor-pointer hover:bg-lighter-dark'">
        Privé
    </div>
    <div (click)="setPrivacy('not-referenced')" class="text-center py-[18px] rounded-[8px] text-16"
         [ngClass]="privacy === 'not-referenced' ? 'bg-yellow text-black cursor-default' : 'bg-dark cursor-pointer hover:bg-lighter-dark'">
        Lien
    </div>
    <div (click)="setPrivacy('public')" class="text-center py-[18px] rounded-[8px] text-16"
         [ngClass]="privacy === 'public' ? 'bg-yellow text-black cursor-default' : 'bg-dark cursor-pointer hover:bg-lighter-dark'">
        Public
    </div>
</div>
<p class="ms-[5px] mt-[12px] font-light text-light-gray">
    {{shareStatusDescription()}}
</p>