<a *ngIf="(character.clan | idToData:dataService.clans) as clan" [routerLink]="link ?? ('/personnages/' + character._id)"
   class="flex gray-box py-[18px] px-[12px] mb-[12px] hover:bg-lighter-dark">
    <img [ngSrc]="env.api_url + '/assets/clans/'+ clan.name.toLowerCase() + '-purple.svg'" width="52" height="52"
         alt="character image" class="gray-box ms-[12px] me-[18px] !bg-black w-[52px] h-[52px] p-[13px]">
    <div>
        <p class="text-20 mb-[5px]">{{ character.firstName }} {{ clan.name }}</p>
        <span *ngIf="!isPredrawnRender; else ownerName" [ngClass]="((character | characterToReamingXp) || 0) >= 0 ? 'text-blue' : 'text-orange'"
              class="bg-black px-[6px] pt-[3px] pb-[4px] mr-[12px] rounded-[10px]">
            {{ ((character | characterToReamingXp) || 0) >= 0 ? '↑' : '↓' }} {{ Math.abs((character | characterToReamingXp) || 0) }}
        </span>
        <ng-template #ownerName>
            <span class="text-pink font-light text-12 me-[12px]">{{ predrawnCharacter.owner }}</span>
        </ng-template>
        <span *ngIf="!isPredrawnRender && character.shareStatus == 'predrawn'" class="text-pink me-[12px] font-light text-12">Prétiré</span>
        <span class="text-light-gray font-light text-12">{{ (character.rank | idToData:dataService.ranks)?.name }}</span>
    </div>
</a>