<app-admin-logo class="mb-[30px] fill-yellow"/>
<h1 class="large-title mb-[12px]">espace admin</h1>
<p class="font-light text-light leading-160">Gestion de générale de l'application, réservée à l'équipe de supers admins.</p>
<app-spacer class="my-[30px] bg-lighter-dark"/>
<h2 class="small-title mb-[18px]">général</h2>
<div class="flex flex-col gap-[12px] mb-[30px]">
    <app-home-button [disabled]="false" link="comptes" text="Comptes"/>
    <app-home-button [disabled]="true" link="groupes" text="Groupes"/>
    <app-home-button [disabled]="false" link="pretires" text="Prétirés"/>
</div>
<h2 class="small-title mb-[18px]">game design</h2>
<div class="flex flex-col gap-[12px] mb-[30px]">
    <app-home-button [disabled]="true" link="arcs" text="Arcs narratifs"/>
    <app-home-button [disabled]="true" link="equipements" text="Équipements"/>
    <app-home-button [disabled]="true" link="lignees" text="Lignées"/>
    <app-home-button [disabled]="true" link="specialisations-de-chakra" text="Spécialisations de chakra"/>
</div>
<h2 class="small-title mb-[18px]">textes</h2>
<div class="flex flex-col gap-[12px] mb-[30px]">
    <app-home-button [disabled]="false" link="bases" text="Bases"/>
    <app-home-button [disabled]="false" link="competences" text="Compétences"/>
</div>
<app-spacer/>
<app-toggle [(value)]="adminService.readonlyMode">
    <ng-container *ngIf="adminService.readonlyMode(); else readonlyOff">
        Lecture seule
    </ng-container>
    <ng-template #readonlyOff>
        Passer en lecture seule
    </ng-template>
</app-toggle>
<p class="mb-[150px] text-light-gray">
    Le mode lecture seule permet de consulter les contenus sans les options d’édition.
</p>