<p class="text-14 text-yellow">Naruto jeu de rôle</p>
<h1 class="font-bold uppercase text-28 font-monument mt-[5px] mb-[50px]">créer un personnage</h1>
<p class="font-light text-10 font-monument text-light-gray">01 / 03</p>
<h2 class="font-bold uppercase font-monument text-20">identité</h2>
<p class="font-light text-14 text-light">Un nouveau personnage commence au rang de Genin avec 100 points
    d’expérience.</p>
<form class="w-full max-w-md" (ngSubmit)="submit()">
    <div class="flex w-full mt-[50px] h-[52px]">
        <div class="flex-shrink flex-grow labeled-select mr-[12px]">
            <label>Village</label>
            <select disabled name="village" [(ngModel)]="village" class="!text-yellow pl-[83px]">
                <option *ngFor="let village of dataService.villages | async"
                        [ngValue]="village">{{village.name | titlecase}}</option>
            </select>
        </div>
        <div class="flex flex-shrink-0 items-center gray-box w-[52px]">
            <img class="mx-auto" [src]="currentVillageLogo()" alt="Logo du village">
        </div>
    </div>
    <app-spacer class="my-[18px] bg-lighter-dark"></app-spacer>
    <div class="labeled-input">
        <label>Prénom</label>
        <input type="text" name="firstName" [(ngModel)]="firstName" class="!text-yellow pl-[90px]"
               placeholder="Ex: Mitsuo">
    </div>
    <div class="flex w-full mt-[18px] h-[52px]">
        <div class="flex-shrink flex-grow labeled-select mr-[12px]">
            <label>Clan</label>
            <select name="clan" [(ngModel)]="clan" class="pl-[69px]" [class.!text-yellow]="clan">
                <option selected disabled class="text-light-gray" [ngValue]="undefined">Choisir parmi la liste</option>
                <option class="text-yellow" *ngFor="let clan of $clans | async"
                        [ngValue]="clan">{{clan.name | titlecase}}</option>
            </select>
        </div>
        <div class="flex flex-shrink-0 items-center gray-box w-[52px]" [class.!bg-black]="!clan">
            <img class="mx-auto x-[25px] h-[25px]" [src]="currentClanLogo()" alt="">
        </div>
    </div>
    <div class="flex w-full flex-row items-center rounded-xl border h-[55px] p-[16px] border-lighter-dark mt-[18px]"
         (click)="isRoadElement.checked = !isRoadElement.checked; isRoad = !isRoad; this.road = isRoad ? this.road : undefined">
        <input #isRoadElement type="checkbox" id="isRoad" name="isRoad" [(ngModel)]="isRoad"
               class="pointer-events-none appearance-none rounded-md border w-[21px] h-[21px] bg-light-dark border-lighter-dark checked:bg-yellow">
        <label for="isRoad" class="pointer-events-none ms-[15px]">Je souhaite une Voie, pas une Lignée</label>
    </div>
    <div *ngIf="isRoad" class="labeled-select mt-[18px]">
        <label>Voie</label>
        <select name="road" [(ngModel)]="road" class="pl-[69px]" [class.!text-yellow]="road">
            <option selected disabled class="text-light-gray" [ngValue]="undefined">Choisir parmi la liste</option>
            <option class="text-yellow" *ngFor="let road of dataService.roads | async"
                    [ngValue]="road">{{road.name + " - " + road.qualification}}</option>
        </select>
    </div>
    <div class="labeled-input mt-[18px]">
        <label>Points d’expérience</label>
        <input type="number" name="xp" required [(ngModel)]="xp" class="!text-yellow pl-[166px]">
    </div>
    <div class="w-full rounded-xl bg-black mt-[18px] p-[18px]">
        <h3>Rang officiel</h3>
        <p class="w-fit rounded-xl text-yellow mt-[10px] bg-light-dark px-[12px] py-[4px]">{{(xp | xpToRank).name}}</p>
    </div>
    <button [disabled]="!firstName || !clan || (isRoad && !road)" type="submit"
            class="flex w-full flex-row items-center justify-center rounded-xl mb-[120px] group mt-[50px] h-[55px] bg-purple disabled:border-lighter-dark disabled:text-dark-gray disabled:border disabled:bg-black">
        Étape suivante
        <app-long-arrow-right class="fill-white group-disabled:fill-dark-gray ms-[10px]"/>
    </button>
</form>
