<p class="text-14 text-yellow">Naruto jeu de rôle</p>
<h1 class="font-bold uppercase text-28 font-monument mt-[5px] mb-[50px]">créer un personnage</h1>
<p class="text-10 font-monument text-light-gray">01 / 03</p>
<h2 class="font-bold uppercase font-monument text-20">identité</h2>
<p class="text-14 text-light">Un nouveau personnage commence au rang de Genin avec 100 points d’expérience.</p>
<form class="w-full max-w-md">
  <div class="flex mt-[50px] h-[52px] w-full">
    <div class="labeled-select flex-shrink flex-grow mr-[12px]">
      <label>Village</label>
      <select name="village" [(ngModel)]="village" class="!text-yellow pl-[83px]">
        <option *ngFor="let village of dataService.villages | async" [ngValue]="village">{{village.name | titlecase}}</option>
      </select>
    </div>
    <div class="flex-shrink-0 gray-box w-[52px] flex items-center">
      <img class="mx-auto" [src]="currentVillageLogo()">
    </div>
  </div>
  <app-spacer class="my-[18px] bg-lighter-dark"></app-spacer>
  <div class="labeled-input">
    <label>Prénom</label>
    <input type="text" name="firstName" required [(ngModel)]="firstName" class="!text-yellow pl-[90px]" placeholder="Ex: Mitsuo">
  </div>
  <div class="flex mt-[18px] h-[52px] w-full">
    <div class="labeled-select flex-shrink flex-grow mr-[12px]">
      <label>Clan</label>
      <select name="clan" [(ngModel)]="clan" class="pl-[69px]" [class.!text-yellow]="clan">
        <option selected disabled class="text-light-gray" [ngValue]="undefined">Choisir parmi la liste</option>
        <option class="text-yellow" *ngFor="let clan of dataService.clans | async" [ngValue]="clan">{{clan.name | titlecase}}</option>
      </select>
    </div>
    <div class="flex-shrink-0 gray-box w-[52px] flex items-center" [class.!bg-black]="!clan">
      <img class="mx-auto" [src]="currentClanLogo()">
    </div>
  </div>
  <!--TODO: Voie-->
  <div class="labeled-select">
    <label>Rang</label>
    <select name="rank" [(ngModel)]="rank" class="pl-[69px] !text-yellow">
      <option *ngFor="let rank of dataService.ranks | async" [ngValue]="rank">{{rank | titlecase}}</option>
    </select>
  </div>
</form>
