#node
node_modules/
pnpm-lock.yaml

# Editors
.vscode/
.idea/
*.iml

# Compiled files
dist/
front/**/*

# Credidentials
src/config/env/*.environment.ts
!src/config/env/prod.environment.ts
/codealike.json