<h1 class="text-25 font-bold font-monument uppercase">notes</h1>
<form (ngSubmit)="submit()" class="mb-[30px]">
    <textarea [(ngModel)]="notes" autosize class="input min-h-[330px] !h-fit py-[24px] px-[18px] my-[30px] text-white" name="notes"></textarea>
    <div class="flex flex-row gap-[10px]">
        <button [disabled]="notes === character.notes" class="bg-purple rounded-[10px] w-full py-[18px] enabled:hover:bg-opacity-95
                                                            disabled:bg-black disabled:text-dark-gray" type="submit">
            Enregistrer
        </button>
        <button (click)="goBack()" [disabled]="notes === character.notes" class="bg-transparent border border-dark-gray rounded-[10px] w-full py-[18px] enabled:hover:bg-light-dark
                                                                                    disabled:text-dark-gray">
            Fermer
        </button>
    </div>
</form>
<div (click)="goToFormatHelp()" class="default-link w-fit mx-auto mb-[30px]">Aide de mise en forme</div>