<main class="flex h-full w-full flex-col items-center justify-around">
  <app-logo class="w-[100px] h-[100px] mt-[125px] mb-[80px]"></app-logo>
  <form class="w-full max-w-[350px] max-w- px-4 space-y-3">
    <div class="labeled-input">
      <label>Email</label>
      <input type="email" name="userEmail" id="email" [(ngModel)]="userEmail" #email="ngModel" required autofocus placeholder="Ex: Mitsuo@naruto-jdr.com" class="pl-[74px]">
    </div>
    <a [class.hocus:bg-black]="email.invalid" [class.cursor-pointer]="!email.invalid" (click)="onSubmit()" type="submit"
            class="black-button w-full h-[55px] justify-between">
      <span class="text-pink text-16">Valider</span>
      <svg class="fill-pink" width="6" height="11" viewBox="0 0 6 11" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.266515 8.96756L3.80182 5.49553L0.266515 2.02349C-0.0888383 1.6745 -0.0888383 1.11074 0.266515 0.761745C0.621868 0.412752 1.1959 0.412752 1.55125 0.761745L5.73349 4.86913C6.08884 5.21812 6.08884 5.78188 5.73349 6.13087L1.55125 10.2383C1.1959 10.5872 0.621868 10.5872 0.266515 10.2383C-0.0797267 9.88926 -0.0888383 9.31656 0.266515 8.96756Z"/>
      </svg>
    </a>
  </form>
</main>
<app-footer></app-footer>
