<main class="flex h-full w-full flex-col items-center justify-around">
  <app-logo class="mt-[125px] mb-[80px]"></app-logo>
  <form class="w-full max-w-[350px] max-w- px-4 space-y-3">
    <div class="relative">
      <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        <label class="text-white text-14">Email</label>
      </div>
      <input type="email" name="userEmail" id="email" [(ngModel)]="userEmail" #email="ngModel" required autofocus placeholder="Ex: Mitsuo@naruto-jdr.com"
             class="block w-full rounded-lg border py-3 pl-14 outline-none text-14 border-lighter-dark bg-light-dark text-light-gray
                    invalid:border-orange invalid:placeholder-orange
                    placeholder:text-light-gray focus:placeholder:text-light-gray
                    focus:border-gray focus:border-2">
    </div>
    <button [disabled]="email.invalid" (click)="onSubmit()" type="submit"
            class="flex w-full items-center justify-between rounded-lg border bg-black p-3 border-lighter-dark enabled:hocus:bg-dark">
      <span class="text-purple text-16">Valider</span>
      <img alt=">" ngSrc="assets/images/dropdown.svg" height="11" width="6">
    </button>
  </form>
</main>
<app-footer></app-footer>
