<a *ngIf="newChakraSpeCount() > 0 || newSkillCount() > 0"
   [routerLink]="['/personnages', character()._id, newSkillCount() > 0 ? 'nouvelle-competence' : 'specialisations-de-chakra']"
   class="fixed right-0 bottom-0 left-0 z-30 h-[70px] px-[18px] py-[17px] purple-gradient hover:bg-opacity-95 cursor-pointer flex flex-row items-center">
    <div class="max-w-[1024px] w-full mx-auto flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
            <div class="stat-box__value text-blue me-[10px] h-[26px]">
            <span *ngIf="newSkillCount() > 0">
                {{ newSkillCount() }}
            </span>
                <span *ngIf="newSkillCount() > 0 && newChakraSpeCount() > 0"
                      class="text-gray-zambezi text-16 mx-[5px]">
                /
            </span>
                <span *ngIf="newChakraSpeCount() > 0">
                {{ newChakraSpeCount() }}
            </span>
            </div>
            <div class="flex flex-col">
                <div *ngIf="newSkillCount() > 0">
                    Nouvelle{{ newSkillCount() > 1 ? 's' : '' }}
                    compétence{{ newSkillCount() > 1 ? 's' : '' }}
                    disponible{{ newSkillCount() > 1 ? 's' : '' }}
                </div>
                <div *ngIf="newChakraSpeCount() > 0">
                    Spécialisation{{ newChakraSpeCount() > 1 ? 's' : '' }} de
                    chakra
                    disponible{{ newChakraSpeCount() > 1 ? 's' : '' }}
                </div>
            </div>
        </div>
        <app-arrow-right class="fill-white"/>
    </div>
</a>
<h1 class="font-bold uppercase font-monument text-25">{{ character().firstName }} {{ (character().clan | idToData:dataService.clans)?.name }}</h1>
<p class="py-[12px]">
    <span [ngClass]="(character() | characterToReamingXp) >= 0 ? 'text-blue' : 'text-orange'" class="bg-black px-[6px] py-[3px] rounded-[10px] me-[12px]">
        {{ (character() | characterToReamingXp) >= 0 ? '↑' : '↓' }} {{ Math.abs((character() | characterToReamingXp)) }}
        <span class="text-dark-gray">/</span> {{ character().xp }}
    </span>
    <!--<span class="font-light mx-[12px] text-pink text-12">
    TEAM X (ANBU)
        &lt;!&ndash;TODO TEAM&ndash;&gt;
</span>-->
    <span class="font-light text-12 text-light-gray">
        {{ (character().rank | idToData:dataService.ranks)?.name }}
    </span>
</p>
<div class="flex flex-row flex-wrap gap-x-[8px] gap-y-[8px]">
    <div *ngIf="(character().clan | idToData:dataService.clans) as clan"
         class="flex flex-row items-center bg-black py-[12px] px-[18px] rounded-[22px]">
        <img [ngSrc]="env.api_url + '/assets/clans/' + clan.name.toLowerCase() + '-purple.svg'" alt="Symbole du clan du ninja"
             class="w-[25px] h-[25px] me-[12px]" width="25" height="25"/>
        Clan {{ clan.name }}
    </div>
    <img [ngSrc]="env.api_url + '/assets/villages/' + ((character().village | idToData:dataService.villages)?.name || '').toLowerCase() + '-purple.svg'"
         alt="Symbole du Village du ninja"
         class="border py-[12px] px-[18px] border-dark-gray rounded-[22px]"
         width="20" height="18"/>
    <div *ngIf="(character().road | idToData:dataService.roads) as road"
         class="flex flex-row items-center bg-black py-[12px] px-[18px] rounded-[22px]">
        {{ road.name + ', ' + road.qualification }}
    </div>
</div>
<app-spacer-graphical class="mt-[50px] mb-[30px]"/>
<section>
    <h2 class="font-light uppercase text-light-gray text-10 font-monument mb-[10px]">bases</h2>
    <div *ngFor="let base of bases()">
        <app-spacer class="bg-light-dark my-[8px]"/>
        <div class="flex flex-row items-center justify-between">
            <a [routerLink]="'base/' + base.base._id"
               class="flex w-full flex-row items-center space-x-[12px] h-[38px]">
                <img [ngSrc]="env.api_url + '/assets/bases/' + base.base.shortName.toLowerCase() + '.svg'"
                     alt="Icon de la base"
                     class="w-[32px] h-[32px] p-[9px] bg-pink rounded-[10px]"
                     width="32" height="32">
                <span>{{ base.base.fullName }}</span>
                <span class="text-gray-zambezi">({{ base.base.shortName }})</span>
                <span class="border text-16 text-yellow px-[12px] py-[3px] bg-light-dark border-lighter-dark rounded-[8px]">{{ base.level }}</span>
            </a>
            <div class="flex flex-row">
                <button (click)="decreaseBaseLevel(base.base, base.level)" [disabled]="!canBaseLevelReduced(base)"
                        class="change-button me-[3px] group">
                    <app-minus-symbol class="fill-white group-disabled:fill-dark-gray"/>
                </button>
                <button (click)="increaseBaseLevel(base.base, base.level)"
                        [disabled]="base.level >= ((character().rank | idToData:dataService.ranks)?.maxBase || 0)" class="change-button group">
                    <app-plus-symbol class="fill-white group-disabled:fill-dark-gray"/>
                </button>
            </div>
        </div>
    </div>
    <app-spacer class="bg-light-dark mt-[8px]"/>
</section>
<section class="mt-[50px] space-y-[12px]">
    <div class="space-y-[12px] lg:space-y-0 lg:space-x-[12px] lg:flex lg:flex-row">
        <p class="stat-box">
            Vigueur
            <span class="text-yellow ms-[12px] stat-box__value">{{ 2 + (character() | characterToBaseLevel:'COR' )! + (character() | characterToChakraSpeAmount:'Endurci' )! }}</span>
            <span *ngIf="(character() | characterToSkillNaturalLevel:'Résistances Élémentaires' )! > 0" class="text-pink ms-[12px] stat-box__value">
                        ELEM
                        <span class="text-white">
                            {{ 2 + (character() | characterToBaseLevel:'COR' )! + (character() | characterToChakraSpeAmount:'Endurci' )! + (character() | characterToSkillReinforcement:"Résistances Élémentaires" )! }}
                        </span>
                    </span>
            <span *ngIf="(character() | characterToSkillNaturalLevel:'Résistances Environnementales' )! > 0"
                  class="text-pink ms-[12px] stat-box__value">
                        ENVI
                        <span class="text-white">
                            {{ 2 + (character() | characterToBaseLevel:'COR' )! + (character() | characterToChakraSpeAmount:'Endurci' )! + (character() | characterToSkillReinforcement:"Résistances Environnementales" )! }}
                        </span>
                    </span>
            <span *ngIf="(character() | characterToSkillNaturalLevel:'Résistances Physiques' )! > 0" class="text-pink ms-[12px] stat-box__value">
                        PHY
                        <span class="text-white">
                            {{ 2 + (character() | characterToBaseLevel:'COR' )! + (character() | characterToChakraSpeAmount:'Endurci' )! + (character() | characterToSkillReinforcement:"Résistances Physiques" )! }}
                        </span>
                    </span>
            <span *ngIf="(character() | characterToSkillNaturalLevel:'Résistances Émotionnelles' )! > 0" class="text-pink ms-[12px] stat-box__value">
                        EMO
                        <span class="text-white">
                            {{ 2 + (character() | characterToBaseLevel:'COR' )! + (character() | characterToChakraSpeAmount:'Endurci' )! + (character() | characterToSkillReinforcement:"Résistances Émotionnelles" )! }}
                        </span>
                    </span>
        </p>
        <p class="stat-box">
            Caractère
            <span class="text-yellow ms-[12px] stat-box__value">{{ 2 + (character() | characterToBaseLevel:'ESP' )! + (character() | characterToChakraSpeAmount:'Impérieux' )! }}</span>
            <span *ngIf="(character() | characterToSkillNaturalLevel:'Résistances Psychiques' )! > 0" class="text-pink ms-[12px] stat-box__value">
                        PSY
                        <span class="text-white">
                            {{ 2 + (character() | characterToBaseLevel:'ESP' )! + (character() | characterToChakraSpeAmount:'Impérieux' )! + (character() | characterToSkillReinforcement:"Résistances Psychiques" )! }}
                        </span>
                    </span>
        </p>
    </div>
    <div class="stat-box space-y-[12px]">
        <p>Chakra<span class="text-blue ms-[12px] stat-box__value">{{ character() | characterToMaxChakra  }}</span></p>
        <p>Régénération /tour<span class="text-blue ms-[12px] stat-box__value">{{ character() | characterToChakraRegen  }}</span></p>
        <p>Contrôle du chakra<span class="text-blue ms-[12px] stat-box__value">{{ character() | characterToChakraControl  }}</span></p>
    </div>
    <div class="space-y-[12px] lg:space-y-0 lg:space-x-[12px] lg:flex lg:flex-row">
        <p class="stat-box">
            Initiative
            <span class="stat-box__value text-yellow ms-[12px]">
                1D10 +{{ (character() | characterToSkillTotalLevel:'Physique' )! + ((character() | characterToChakraSpeAmount:'Fulgurant' )! * 2) }}
            </span>
        </p>
        <p class="stat-box">
            Interceptions
            <span class="stat-box__value text-blue ms-[12px]">ARM {{ character() | characterToInterceptions:'ARM'  }}</span>
            <span class="stat-box__value text-blue ms-[12px]">TAI {{ character() | characterToInterceptions:'TAI'  }}</span>
        </p>
    </div>
    <div class="flex flex-row space-x-[12px]">
        <p class="stat-box">
            Dég. ARM
            <span class="stat-box__value text-blue ms-[12px]">
                    {{
                    (character() | characterToBaseLevel:'COR' )!
                    + (character() | characterToBaseLevel:'ARM' )!
                    + ((character() | characterToChakraSpeAmount:'Acéré' )! * 2)
                }}
                </span>
        </p>
        <p class="stat-box">
            Dég. TAI
            <span class="stat-box__value text-blue ms-[12px]">
                    {{
                    (character() | characterToBaseLevel:'COR' )!
                    + (character() | characterToBaseLevel:'TAI' )!
                    + ((character() | characterToChakraSpeAmount:'Explosif' )! * 2)
                }}
                </span>
        </p>
    </div>
    <div class="flex flex-row items-center justify-between stat-box">
        <p>
            Nindo
            <span class="stat-box__value text-yellow ms-[12px]">{{ character().nindoPoints }}</span>
        </p>
        <div class="flex flex-row">
            <button (click)="setNindoPoints(character().nindoPoints - 1)" [disabled]="character().nindoPoints < 1" class="change-button me-[3px] group">
                <app-minus-symbol class="fill-white group-disabled:fill-dark-gray"/>
            </button>
            <button (click)="setNindoPoints(character().nindoPoints + 1)" class="change-button">
                <app-plus-symbol class="fill-white group-disabled:fill-dark-gray"/>
            </button>
        </div>
    </div>
</section>
<section class="relative z-10 mt-[50px] py-[50px]">
    <app-bg class="bg-black"/>
    <h2 class="font-light uppercase text-light-gray text-10 font-monument mb-[10px]">compétences communes</h2>
    <app-skill-item (changeValue)="setSkillLevel(skill.skill, $event)" *ngFor="let skill of commonSkills()" [baseLevel]="getBaseLevelBySkill(skill.skill)"
                    [skill]="skill" [isCommon]="true"/>
    <app-spacer class="bg-light-dark mt-[8px] mb-[50px]"/>
    <h2 class="flex flex-row items-center mb-[10px]">
        <span class="stat-box__value text-blue me-[12px] h-[26px]">{{ character() | characterToMaxSkillCount  }}</span>
        <span class="font-light uppercase text-light-gray text-10 font-monument">compétences <br/>combat, terrain, clan</span>
    </h2>
    <app-skill-item (changeValue)="setSkillLevel(skill.skill, $event)" *ngFor="let skill of uncommonSkills()" [baseLevel]="getBaseLevelBySkill(skill.skill)"
                    [skill]="skill" [isCommon]="false"/>
    <app-spacer class="bg-light-dark mt-[8px]"/>
    <a routerLink="nouvelle-competence" *ngIf="newSkillCount() > 0" class="flex w-full max-w-md flex-row items-center justify-between px-[18px] py-[17px] purple-gradient rounded-[10px] hover:bg-opacity-90 mt-[18px]">
        <div>
            <span class="stat-box__value text-blue me-[10px] h-[26px]">{{newSkillCount()}}</span>
            Nouvelle{{ newSkillCount() > 1 ? 's' : '' }} compétence{{ newSkillCount() > 1 ? 's' : '' }} disponible{{ newSkillCount() > 1 ? 's' : '' }}
        </div>
        <app-arrow-right class="fill-white"/>
    </a>
</section>
<section class="relative z-10 py-[50px]">
    <app-bg class="image-bg"/>
    <!--TODO: HEALTH-->
    <h2 class="font-light uppercase text-light-gray text-10 font-monument mb-[10px]">équipement</h2>
    <app-spacer class="my-[18px] bg-light-dark"/>
    <button class="flex w-full max-w-md flex-row items-center justify-between px-[18px] py-[17px] purple-gradient rounded-[10px] hover:bg-opacity-90">
        <div>
            <span class="stat-box__value text-blue me-[10px] h-[26px]">3</span>
            Équipements essentiels à choisir
        </div>
        <app-arrow-right class="fill-white"/>
    </button>
</section>
<section class="relative z-10 py-[50px]">
    <app-bg class="bg-black"/>
    <h2 class="mb-[18px]">
        <span class="stat-box__value text-blue me-[12px]">{{ character() | characterToMaxChakraSpes  }}</span>
        <span class="font-light uppercase text-light-gray text-10 font-monument">spécialisations de chakra</span>
    </h2>
    <app-spacer class="bg-light-dark mb-[12px]"/>
    <div *ngFor="let spe of chakraSpes()">
        <p class="mb-[12px]">
            {{ spe.chakraSpe.name }}
            <span class="stat-box__value text-yellow mx-[12px]">{{ spe.number }}</span>
            <span class="text-dark-gray">{{ spe.chakraSpe.max }} Max</span>
        </p>
        <p class="text-light-gray">{{ spe.chakraSpe.effect }}</p>
        <app-spacer class="bg-light-dark my-[12px]"/>
    </div>
    <a *ngIf="(((character() | characterToMaxChakraSpes ) || 0) - character().chakraSpes.length) > 0;else noNewSpe"
       class="flex w-full max-w-md flex-row items-center justify-between px-[18px] py-[17px] purple-gradient rounded-[10px] hover:bg-opacity-90"
       routerLink="specialisations-de-chakra">
        <div>
            <span class="stat-box__value text-blue me-[10px] h-[26px]">{{ ((character() | characterToMaxChakraSpes ) || 0) - character().chakraSpes.length }}</span>
            Spécialisation{{ (((character() | characterToMaxChakraSpes ) || 0) - character().chakraSpes.length) > 1 ? 's' : '' }} de chakra
            disponible{{ (((character() | characterToMaxChakraSpes ) || 0) - character().chakraSpes.length) > 1 ? 's' : '' }}
        </div>
        <app-arrow-right class="fill-white"/>
    </a>
    <ng-template #noNewSpe>
        <a class="flex w-full max-w-md flex-row items-center justify-between px-[28px] py-[17px] rounded-[10px] border border-lighter-dark hover:bg-dark"
           routerLink="specialisations-de-chakra">
                <span>
                    Modifier
                </span>
            <app-arrow-right class="fill-pink"/>
        </a>
    </ng-template>
</section>
<section class="mt-[50px] mb-[75px] lg:mb-[150px]">
    <h2 class="font-light uppercase text-light-gray text-10 font-monument mb-[18px]">notes</h2>
    <div class="border bg-light-dark border-dark-gray px-[12px] py-[18px] rounded-[10px]">
        <p [ngClass]="{'line-clamp-[8]': shouldTruncNotes()}" class="overflow-hidden leading-160" id="notes" *ngIf="notes() as notesD">
            <markdown-it [markdown]="notesD" class="inline"/>
            <span *ngIf="shouldTruncNotes()">...</span>
        </p>
        <button (click)="shouldTruncNotes.set(false)" *ngIf="shouldTruncNotes()" class="mt-[12px] mb-[30px] text-pink hover:underline">Tout lire</button>
        <app-spacer class="bg-light-dark mb-[18px]"/>
        <a class="flex w-full max-w-md flex-row items-center justify-between border bg-black border-lighter-dark rounded-[10px] px-[24px] py-[18px] hover:bg-dark"
           routerLink="notes">
            <span class="text-16">Éditer</span>
            <app-arrow-right class="fill-pink"/>
        </a>
    </div>
</section>