<a *ngIf="(((($character | characterToMaxChakraSpes | async) || 0) - (($character | async)?.chakraSpes?.length || 0)) > 0) || ((($character | characterToMaxSkillCount | async) || 0) - uncommonSkills.length) > 0"
   [routerLink]="['/personnages', ($character | async)?._id, ((($character | characterToMaxSkillCount | async) || 0) - uncommonSkills.length) > 0 ? 'nouvelle-competence' : 'specialisations-de-chakra']"
   class="fixed right-0 bottom-0 left-0 z-30 flex h-[70px] flex-row items-center justify-between px-[18px] py-[17px] purple-gradient hover:bg-opacity-95 cursor-pointer">
    <div class="flex flex-row items-center">
        <div class="stat-box__value text-blue me-[10px] h-[26px]">
            <span *ngIf="((($character | characterToMaxSkillCount | async) || 0) - uncommonSkills.length) > 0">
                {{(($character | characterToMaxSkillCount | async) || 0) - uncommonSkills.length}}
            </span>
            <span *ngIf="(((($character | characterToMaxChakraSpes | async) || 0) - (($character | async)?.chakraSpes?.length || 0)) > 0) && ((($character | characterToMaxSkillCount | async) || 0) - uncommonSkills.length) > 0"
                  class="text-gray-zambezi text-16 mx-[5px]">
                /
            </span>
            <span *ngIf="(((($character | characterToMaxChakraSpes | async) || 0) - (($character | async)?.chakraSpes?.length || 0)) > 0)">
                {{(($character | characterToMaxChakraSpes | async) || 0) - (($character | async)?.chakraSpes?.length || 0)}}
            </span>
        </div>
        <div class="flex flex-col">
            <div *ngIf="((($character | characterToMaxSkillCount | async) || 0) - uncommonSkills.length) > 0">
                Nouvelle{{((($character | characterToMaxSkillCount | async) || 0) - uncommonSkills.length) > 1 ? 's' : ''}}
                compétence{{((($character | characterToMaxSkillCount | async) || 0) - uncommonSkills.length) > 1 ? 's' : ''}}
                disponible{{((($character | characterToMaxSkillCount | async) || 0) - uncommonSkills.length) > 1 ? 's' : ''}}
            </div>
            <div *ngIf="((($character | characterToMaxChakraSpes | async) || 0) - (($character | async)?.chakraSpes?.length || 0)) > 0">
                Spécialisation{{((($character | characterToMaxChakraSpes | async) || 0) - (($character | async)?.chakraSpes?.length || 0)) > 1 ? 's' : ''}} de
                chakra
                disponible{{((($character | characterToMaxChakraSpes | async) || 0) - (($character | async)?.chakraSpes?.length || 0)) > 1 ? 's' : ''}}
            </div>
        </div>
    </div>
    <svg fill="none" height="10" viewBox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.266515 8.46756L3.80182 4.99553L0.266515 1.52349C-0.0888383 1.1745 -0.0888383 0.610738 0.266515 0.261745C0.621868 -0.0872483 1.1959 -0.0872483 1.55125 0.261745L5.73349 4.36913C6.08884 4.71812 6.08884 5.28188 5.73349 5.63087L1.55125 9.73825C1.1959 10.0872 0.621868 10.0872 0.266515 9.73825C-0.0797267 9.38926 -0.0888383 8.81656 0.266515 8.46756Z"
              fill="white"/>
    </svg>
</div>
<div *ngIf="$character | async as character">
    <h1 class="font-bold uppercase font-monument text-25">{{character.firstName}} {{(character.clan | idToData:(dataService.clans | async))?.name}}</h1>
    <p class="py-[12px]">
        <span class="bg-black px-[6px] py-[3px] rounded-[10px] me-[12px]"
              [ngClass]="(($character | characterToReamingXp | async) || 0) >= 0 ? 'text-blue' : 'text-orange'">
            {{(($character | characterToReamingXp | async) || 0) >= 0 ? '↑' : '↓'}} {{Math.abs(($character | characterToReamingXp | async) || 0)}} <span
                class="text-dark-gray">/</span> {{character.xp}}
        </span>
        <!--<span class="font-light mx-[12px] text-pink text-12">
        TEAM X (ANBU)
            &lt;!&ndash;TODO TEAM&ndash;&gt;
    </span>-->
        <span class="font-light text-12 text-light-gray">
            {{(character.rank | idToData:dataService.ranks.getValue())?.name}}
        </span>
    </p>
    <div class="flex flex-row flex-wrap gap-x-[8px] gap-y-[8px]">
        <div class="flex flex-row items-center bg-black py-[12px] px-[18px] rounded-[22px]"
             *ngIf="(character.clan | idToData:dataService.clans.value) as clan">
            <img class="x-[25px] h-[25px] me-[12px]" [src]="env.api_url + '/assets/clans/' + clan.name.toLowerCase() + '-purple.svg'"
                 alt="Symbole du clan du ninja"/>
            Clan {{clan.name}}
        </div>
        <img class="border py-[12px] px-[18px] border-dark-gray rounded-[22px]"
             [src]="env.api_url + '/assets/villages/' + ((character.village | idToData:dataService.villages.value)?.name || '').toLowerCase() + '-purple.svg'"
             alt="Symbole du Village du ninja"/>
        <div *ngIf="(character.road | idToData:dataService.roads.getValue()) as road"
             class="flex flex-row items-center bg-black py-[12px] px-[18px] rounded-[22px]">
            {{road.name + ', ' + road.qualification}}
        </div>
    </div>
    <app-spacer-graphical class="mt-[50px] mb-[30px]"/>
    <section>
        <h2 class="font-light uppercase text-light-gray text-10 font-monument mb-[10px]">bases</h2>
        <div *ngFor="let baseData of character.bases">
            <app-spacer class="bg-light-dark my-[8px]"/>
            <div *ngIf="(baseData.base | idToData:(dataService.bases | async)) as base"
                 class="flex flex-row items-center justify-between">
                <a class="flex w-full flex-row items-center space-x-[12px] h-[38px]"
                   [routerLink]="'base/' + base._id">
                    <img class="w-[32px] h-[32px] p-[9px] bg-pink rounded-[10px]"
                         [src]="env.api_url + '/assets/bases/' + base.shortName.toLowerCase() + '.svg'"
                         alt="Icon de la base">
                    <span>{{base.fullName}}</span>
                    <span class="text-gray-zambezi">({{base.shortName}})</span>
                    <span class="border text-16 text-yellow px-[12px] py-[3px] bg-light-dark border-lighter-dark rounded-[8px]">{{baseData.level}}</span>
                </a>
                <div class="flex flex-row">
                    <button (click)="decreaseBaseLevel(base, baseData.level)" [disabled]="!canBaseLevelReduced({base, level: baseData.level})"
                            class="change-button me-[3px]">
                        <svg width="14" height="2" viewBox="0 0 14 2" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 2H1C0.4 2 0 1.6 0 1C0 0.4 0.4 0 1 0H13C13.6 0 14 0.4 14 1C14 1.6 13.6 2 13 2Z"/>
                        </svg>
                    </button>
                    <button (click)="increaseBaseLevel(base, baseData.level)"
                            [disabled]="baseData.level >= ((character.rank | idToData:dataService.ranks.getValue())?.maxBase || 0)" class="change-button">
                        <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 6H8V1C8 0.4 7.6 0 7 0C6.4 0 6 0.4 6 1V6H1C0.4 6 0 6.4 0 7C0 7.6 0.4 8 1 8H6V13C6 13.6 6.4 14 7 14C7.6 14 8 13.6 8 13V8H13C13.6 8 14 7.6 14 7C14 6.4 13.6 6 13 6Z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <app-spacer class="bg-light-dark mt-[8px]"/>
    </section>
    <section class="mt-[50px] space-y-[12px]">
        <div class="space-y-[12px] lg:space-y-0 lg:space-x-[12px] lg:flex lg:flex-row">
            <p class="stat-box">
                Vigueur
                <span class="text-yellow ms-[12px] stat-box__value">{{2 + ($character | characterToBaseLevel:'COR' | async)! + ($character | characterToChakraSpeAmount:'Endurci' | async)!}}</span>
                <span class="text-pink ms-[12px] stat-box__value" *ngIf="($character | characterToSkillNaturalLevel:'Résistances Élémentaires' | async)! > 0">
                        ELEM
                        <span class="text-white">
                            {{2 + ($character | characterToBaseLevel:'COR' | async)! + ($character | characterToChakraSpeAmount:'Endurci' | async)! + ($character | characterToSkillReinforcement:"Résistances Élémentaires" | async)!}}
                        </span>
                    </span>
                <span class="text-pink ms-[12px] stat-box__value"
                      *ngIf="($character | characterToSkillNaturalLevel:'Résistances Environnementales' | async)! > 0">
                        ENVI
                        <span class="text-white">
                            {{2 + ($character | characterToBaseLevel:'COR' | async)! + ($character | characterToChakraSpeAmount:'Endurci' | async)! + ($character | characterToSkillReinforcement:"Résistances Environnementales" | async)!}}
                        </span>
                    </span>
                <span class="text-pink ms-[12px] stat-box__value" *ngIf="($character | characterToSkillNaturalLevel:'Résistances Physiques' | async)! > 0">
                        PHY
                        <span class="text-white">
                            {{2 + ($character | characterToBaseLevel:'COR' | async)! + ($character | characterToChakraSpeAmount:'Endurci' | async)! + ($character | characterToSkillReinforcement:"Résistances Physiques" | async)!}}
                        </span>
                    </span>
                <span class="text-pink ms-[12px] stat-box__value" *ngIf="($character | characterToSkillNaturalLevel:'Résistances Émotionnelles' | async)! > 0">
                        EMO
                        <span class="text-white">
                            {{2 + ($character | characterToBaseLevel:'COR' | async)! + ($character | characterToChakraSpeAmount:'Endurci' | async)! + ($character | characterToSkillReinforcement:"Résistances Émotionnelles" | async)!}}
                        </span>
                    </span>
            </p>
            <p class="stat-box">
                Caractère
                <span class="text-yellow ms-[12px] stat-box__value">{{2 + ($character | characterToBaseLevel:'ESP' | async)! + ($character | characterToChakraSpeAmount:'Impérieux' | async)!}}</span>
                <span class="text-pink ms-[12px] stat-box__value" *ngIf="($character | characterToSkillNaturalLevel:'Résistances Psychiques' | async)! > 0">
                        PSY
                        <span class="text-white">
                            {{2 + ($character | characterToBaseLevel:'ESP' | async)! + ($character | characterToChakraSpeAmount:'Impérieux' | async)! + ($character | characterToSkillReinforcement:"Résistances Psychiques" | async)!}}
                        </span>
                    </span>
            </p>
        </div>
        <div class="stat-box space-y-[12px]">
            <p>Chakra<span class="text-blue ms-[12px] stat-box__value">{{$character | characterToMaxChakra | async}}</span></p>
            <p>Régénération /tour<span class="text-blue ms-[12px] stat-box__value">{{$character | characterToChakraRegen | async}}</span></p>
            <p>Contrôle du chakra<span class="text-blue ms-[12px] stat-box__value">{{$character | characterToChakraControl | async}}</span></p>
        </div>
        <div class="space-y-[12px] lg:space-y-0 lg:space-x-[12px] lg:flex lg:flex-row">
            <p class="stat-box">
                Initiative
                <span class="stat-box__value text-yellow ms-[12px]">
                1D10 +{{($character | characterToSkillTotalLevel:'Physique' | async)! + (($character | characterToChakraSpeAmount:'Fulgurant' | async)! * 2)}}
            </span>
            </p>
            <p class="stat-box">
                Interceptions
                <span class="stat-box__value text-blue ms-[12px]">ARM {{$character | characterToInterceptions:'ARM' | async}}</span>
                <span class="stat-box__value text-blue ms-[12px]">TAI {{$character | characterToInterceptions:'TAI' | async}}</span>
            </p>
        </div>
        <div class="flex flex-row space-x-[12px]">
            <p class="stat-box">
                Dég. ARM
                <span class="stat-box__value text-blue ms-[12px]">
                    {{
                    ($character | characterToBaseLevel:'COR' | async)!
                    + ($character | characterToBaseLevel:'ARM' |async)!
                    + (($character | characterToChakraSpeAmount:'Acéré' | async)! * 2)
                    }}
                </span>
            </p>
            <p class="stat-box">
                Dég. TAI
                <span class="stat-box__value text-blue ms-[12px]">
                    {{
                    ($character | characterToBaseLevel:'COR' | async)!
                    + ($character | characterToBaseLevel:'TAI' | async)!
                    + (($character | characterToChakraSpeAmount:'Explosif' | async)! * 2)
                    }}
                </span>
            </p>
        </div>
        <div class="flex flex-row items-center justify-between stat-box">
            <p>
                Nindo
                <span class="stat-box__value text-yellow ms-[12px]">{{character.nindoPoints}}</span>
            </p>
            <div class="flex flex-row">
                <button (click)="setNindoPoints(character.nindoPoints - 1)" [disabled]="character.nindoPoints < 1" class="change-button me-[3px]">
                    <svg width="14" height="2" viewBox="0 0 14 2" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 2H1C0.4 2 0 1.6 0 1C0 0.4 0.4 0 1 0H13C13.6 0 14 0.4 14 1C14 1.6 13.6 2 13 2Z"/>
                    </svg>
                </button>
                <button (click)="setNindoPoints(character.nindoPoints + 1)" class="change-button">
                    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 6H8V1C8 0.4 7.6 0 7 0C6.4 0 6 0.4 6 1V6H1C0.4 6 0 6.4 0 7C0 7.6 0.4 8 1 8H6V13C6 13.6 6.4 14 7 14C7.6 14 8 13.6 8 13V8H13C13.6 8 14 7.6 14 7C14 6.4 13.6 6 13 6Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </section>
    <section class="relative z-10 mt-[50px] py-[50px]">
        <app-bg class="bg-black"/>
        <h2 class="font-light uppercase text-light-gray text-10 font-monument mb-[10px]">compétences communes</h2>
        <app-skill-item *ngFor="let skill of commonSkills" [skill]="skill" [baseLevel]="getBaseLevelBySkill(skill.skill)"
                        (changeValue)="setSkillLevel(skill.skill, $event)"/>
        <app-spacer class="bg-light-dark mt-[8px] mb-[50px]"/>
        <h2 class="flex flex-row items-center mb-[10px]">
            <span class="stat-box__value text-blue me-[12px] h-[26px]">{{$character | characterToMaxSkillCount | async}}</span>
            <span class="font-light uppercase text-light-gray text-10 font-monument">compétences <br/>combat, terrain, clan</span>
        </h2>
        <app-skill-item *ngFor="let skill of uncommonSkills" [skill]="skill" [baseLevel]="getBaseLevelBySkill(skill.skill)"
                        (changeValue)="setSkillLevel(skill.skill, $event)"/>
        <app-spacer class="bg-light-dark mt-[8px]"/>
    </section>
    <section class="relative z-10 py-[50px]">
        <app-bg class="image-bg"/>
        <!--TODO: HEALTH-->
        <h2 class="font-light uppercase text-light-gray text-10 font-monument mb-[10px]">équipement</h2>
        <app-spacer class="my-[18px] bg-light-dark"/>
        <button class="flex w-full max-w-md flex-row items-center justify-between px-[18px] py-[17px] purple-gradient rounded-[10px] hover:bg-opacity-90">
            <div>
                <span class="stat-box__value text-blue me-[10px] h-[26px]">3</span>
                Équipements essentiels à choisir
            </div>
            <svg fill="none" height="10" viewBox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.266515 8.46756L3.80182 4.99553L0.266515 1.52349C-0.0888383 1.1745 -0.0888383 0.610738 0.266515 0.261745C0.621868 -0.0872483 1.1959 -0.0872483 1.55125 0.261745L5.73349 4.36913C6.08884 4.71812 6.08884 5.28188 5.73349 5.63087L1.55125 9.73825C1.1959 10.0872 0.621868 10.0872 0.266515 9.73825C-0.0797267 9.38926 -0.0888383 8.81656 0.266515 8.46756Z"
                      fill="white"/>
            </svg>
        </button>
    </section>
    <section class="relative z-10 py-[50px]">
        <app-bg class="bg-black"/>
        <h2 class="mb-[18px]">
            <span class="stat-box__value text-blue me-[12px]">{{$character | characterToMaxChakraSpes | async}}</span>
            <span class="font-light uppercase text-light-gray text-10 font-monument">spécialisations de chakra</span>
        </h2>
        <app-spacer class="bg-light-dark mb-[12px]"/>
        <div *ngFor="let spe of character.chakraSpes">
            <!--<p class="mb-[12px]">
                {{spe}}
                <span class="stat-box__value text-yellow mx-[12px]">x{{spe.level}}</span>
                <span class="text-dark-gray">{{spe.chakraSpe.max}} Max</span>
            </p>
            <p class="bg-light-gray">{{spe.chakraSpe.effect | weightChakraSpeEffectByAmount:spe.level}}</p>
            <app-spacer class="bg-light-dark my-[12px]"/>-->
        </div>
        <button *ngIf="((($character | characterToMaxChakraSpes | async) || 0) - character.chakraSpes.length) > 0"
                class="flex w-full max-w-md flex-row items-center justify-between px-[18px] py-[17px] purple-gradient rounded-[10px] hover:bg-opacity-90">
            <div>
                <span class="stat-box__value text-blue me-[10px] h-[26px]">{{(($character | characterToMaxChakraSpes | async) || 0) - character.chakraSpes.length}}</span>
                Spécialisation{{((($character | characterToMaxChakraSpes | async) || 0) - character.chakraSpes.length) > 1 ? 's' : ''}} de chakra
                disponible{{((($character | characterToMaxChakraSpes | async) || 0) - character.chakraSpes.length) > 1 ? 's' : ''}}
            </div>
            <svg fill="none" height="10" viewBox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.266515 8.46756L3.80182 4.99553L0.266515 1.52349C-0.0888383 1.1745 -0.0888383 0.610738 0.266515 0.261745C0.621868 -0.0872483 1.1959 -0.0872483 1.55125 0.261745L5.73349 4.36913C6.08884 4.71812 6.08884 5.28188 5.73349 5.63087L1.55125 9.73825C1.1959 10.0872 0.621868 10.0872 0.266515 9.73825C-0.0797267 9.38926 -0.0888383 8.81656 0.266515 8.46756Z"
                      fill="white"/>
            </svg>
        </button>
    </section>
    <section class="mt-[50px] mb-[75px] lg:mb-[150px]">
        <h2 class="font-light uppercase text-light-gray text-10 font-monument mb-[18px]">notes</h2>
        <div class="border bg-light-dark border-dark-gray px-[12px] py-[18px] rounded-[10px]">
            <p [ngClass]="{'line-clamp-[8]': shouldTruncNotes}" class="overflow-hidden leading-160" id="notes">
                <markdown-it [markdown]="notes" class="inline"/>
                <span *ngIf="shouldTruncNotes">...</span>
            </p>
            <button *ngIf="shouldTruncNotes" (click)="shouldTruncNotes = false" class="mt-[12px] mb-[30px] text-pink hover:underline">Tout lire</button>
            <app-spacer class="bg-light-dark mb-[18px]"/>
            <a class="flex w-full max-w-md flex-row items-center justify-between border bg-black border-lighter-dark rounded-[10px] px-[24px] py-[18px] hover:bg-dark"
               routerLink="notes">
                <span class="text-16">Éditer</span>
                <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.266515 8.96756L3.80182 5.49553L0.266515 2.02349C-0.0888383 1.6745 -0.0888383 1.11074 0.266515 0.761745C0.621868 0.412752 1.1959 0.412752 1.55125 0.761745L5.73349 4.86913C6.08884 5.21812 6.08884 5.78188 5.73349 6.13087L1.55125 10.2383C1.1959 10.5872 0.621868 10.5872 0.266515 10.2383C-0.0797267 9.88926 -0.0888383 9.31656 0.266515 8.96756Z"
                          fill="#EE88FF"/>
                </svg>
            </a>
        </div>
    </section>
</div>