<div class="relative z-10 mt-[30px] py-[8px]">
    <app-bg class="bg-black"/>
    <div class="flex flex-row overflow-x-scroll scrollbar:hidden w-full max-w-[1024px] text-14 space-x-[6px]">
        <button class="text-nowrap py-[6px] px-[12px]" [ngClass]="rank.name === currentRank().name ? 'border border-pink text-pink rounded-[8px]' : ''"
                *ngFor="let rank of ranks()" (click)="rank.name === currentRank().name ? currentRankName.set('Tous') : currentRankName.set(rank.name)">
            {{rank.name}} <span class="font-light" [ngClass]="rank.name === currentRank().name ? 'text-pink' : 'text-gray'">({{rank.characters.characters.length}})</span>
        </button>
    </div>
</div>
<div class="mt-[12px] labeled-input">
    <input #searchField class="ps-[63px]" placeholder="Rechercher" [ngModel]="search()" (input)="search.set(searchField.value)">
    <label><img ngSrc="assets/images/search.svg" height="24" width="24" alt="Chercher"></label>
</div>
<div *ngFor="let group of currentRank().characters.groups">
    <h3 class="text-10 font-light my-[30px] font-monument uppercase"><span class="stat-box__value text-blue text-16 font-normal me-[12px] font-neue">{{group.characters.length}}</span>{{group.rank}}</h3>
    <app-character-list-preview *ngFor="let character of group.characters" [character]="character"/>
</div>
<svg class="mx-auto mt-[50px] mb-[150px]" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="15" cy="15" r="14.5" stroke="url(#paint0_linear_2559_2217)"/>
    <defs>
        <linearGradient id="paint0_linear_2559_2217" x1="30" y1="-1.67638e-05" x2="-1.15016" y2="1.24599" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FCA3A7" offset="0"/>
            <stop offset="1" stop-color="#7C00FF"/>
        </linearGradient>
    </defs>
</svg>