<h1 class="text-25 font-bold font-monument uppercase space-x-[10px]">comptes <span
        class="stat-box__value text-pink font-normal text-16">{{ users().length }}</span></h1>
<div class="mt-[12px] labeled-select">
    <label>Filtrer</label>
    <select [(ngModel)]="filter" class="!text-yellow pl-[83px]" name="filter">
        <option *ngFor="let filter of ['Tous', 'Actifs', 'Inactifs']"
                [ngValue]="filter">{{ filter }}
        </option>
    </select>
</div>
<div class="mt-[12px] labeled-input">
    <input #searchField class="ps-[63px]" placeholder="Chercher par nom ou email" [ngModel]="search()" (input)="search.set(searchField.value)">
    <label><img ngSrc="assets/images/search.svg" height="24" width="24" alt="Chercher"></label>
</div>
<div class="relative py-[30px] space-y-[30px] mt-[30px]">
    <app-bg class="bg-black"/>
    <div *ngFor="let dateGroup of filteredUsers() | usersDateGroup" class="space-y-[30px]">
        <p class="text-center mx-auto uppercase font-monument font-light text-10 text-light">{{ dateGroup.monthYear }}</p>
        <div *ngFor="let dayGroup of dateGroup.days" class="space-y-[12px]">
            <p class="font-normal text-14">{{ dayGroup.day | titlecase }}</p>
            <a [routerLink]="user._id" *ngFor="let user of dayGroup.users"
               class="flex flex-row justify-between max-w-[350px] items-center black-button cursor-pointer py-[17px]">
                <div class="space-y-[5px]">
                    <h4 class="text-pink text-16">{{ user.username || 'Ninja Sans Nom' }}</h4>
                    <p class="space-x-[5px] text-12">
                        <span class="stat-box__value text-light">{{ user.createdAt | date:"dd-MM-YY, HH:mm":"Europe/Paris" }}</span>
                        <span class="stat-box__value text-yellow" *ngIf="user.discordId">Discord</span>
                    </p>
                    <p class="text-light font-light">{{ user.email }}</p>
                </div>
                <app-arrow-right class="fill-light-gray"/>
            </a>
        </div>
        <app-spacer class="bg-lighter-dark"/>
    </div>
</div>