<dialog #deleteAccountDialog>
    <app-modal (close)="deleteAccountDialog.close(); deleteNameConfirm = ''" *ngIf="($user | async) as user"
               [dialog]="deleteAccountDialog"
               mtext="<span class='text-16'>En cliquant sur le bouton “Supprimer” juste en dessous, votre compte et tous vos personnages seront définitivement effacés. Il n’y a ni sauvegarde ni backup des données de l’application. <br/><br/><span class='text-orange'>Toute suppression est définitive.</span></span>"
               mtitle="supprimer mon compte">
        <h2 class="text-10 text-light-gray font-light font-monument uppercase">taper votre nom d'utilisateur</h2>
        <input [(ngModel)]="deleteNameConfirm" [placeholder]="user?.username || 'Ninja Sans Nom'"
               class="input px-[24px] py-[17px] text-white mt-[18px] mb-[30px] placeholder-light-gray font-16"
               type="text">
        <button (click)="deleteAccountDialog.close(); deleteAccount()"
                [disabled]="deleteNameConfirm.toLowerCase() !== (user?.username || 'Ninja Sans Nom').toLowerCase()"
                class="black-button px-[28px] h-[52px] disabled:text-dark-gray disabled:hover:bg-black">
            Supprimer mon compte
        </button>
    </app-modal>
</dialog>
<dialog #changeEmailDialog>
    <app-modal (close)="changeEmailDialog.close(); newEmailConfirm = ''" *ngIf="($user | async) as user"
               [dialog]="changeEmailDialog"
               mtext="<span class='text-16'>En cliquant sur le bouton “Valider” juste en dessous, votre adresse email sera modifiée. L'accès a votre boite mail
               étant obligatoire pour vous connecter, assurez vous d'avoir accès à l'adresse email que vous rentrez. <br/><br/><span class='text-orange'>Nous ne
               pouvons pas vous garantir de récupérer votre compte en cas de problème, meme si nous feront notre possible.</span></span>"
               mtitle="Changer mon adresse email">
        <h2 class="text-10 text-light-gray font-light font-monument uppercase">confirmer votre nouvelle adresse email</h2>
        <input [(ngModel)]="newEmailConfirm" class="input px-[24px] py-[17px] text-white mt-[18px] mb-[30px] placeholder-light-gray font-16"
               placeholder="Ex: Mitsuo@naruto-jdr.com"
               type="text">
        <button (click)="changeEmailDialog.close(); changeEmail()"
                [disabled]="newEmailConfirm.toLowerCase() !== newEmail?.toLowerCase()"
                class="black-button px-[28px] h-[52px] disabled:text-dark-gray disabled:hover:bg-black">
            Valider
        </button>
    </app-modal>
</dialog>
<dialog #discordConnectDialog>
    <app-modal (close)="discordConnectDialog.close()"
               [dialog]="discordConnectDialog"
               mtext="Cette action permet à Moot-kun d’accéder aux données de vos personnages et de les utiliser sur le serveur. Vous pourrez par exemple faire des jets de compétences directement avec vos stats pendant les parties et pleins d’autre chose."
               mtitle="Connecter le compte à discord">
        <div class="flex flex-row gap-[18px] items-center justify-between">
            <button (click)="discordConnectDialog.close()" class="w-full h-[52px] rounded-[10px] border border-dark-gray hover:bg-dark">Non merci</button>
            <a [href]="env.discordLogUrl" class="w-full bg-purple hover:bg-opacity-90 h-[52px] flex justify-center items-center rounded-[10px]">Connecter</a>
        </div>
    </app-modal>
</dialog>
<dialog #discordDisconnectDialog>
    <app-modal (close)="discordDisconnectDialog.close()"
               [dialog]="discordDisconnectDialog"
               mtext="Vous êtes sur le point de déconnecter votre compte de discord. Vous ne pourrez plus utiliser les fonctionnalités liées à votre compte sur le serveur. Vous pourrez toujours vous reconnecter plus tard."
               mtitle="Déconnecter le compte de discord">
        <div class="flex flex-row gap-[18px] items-center justify-between">
            <button (click)="discordDisconnectDialog.close()" class="w-full h-[52px] rounded-[10px] border border-dark-gray hover:bg-dark">Annuler</button>
            <a (click)="discordDisconnectDialog.close()" class="w-full bg-orange hover:bg-opacity-90 h-[52px] flex justify-center items-center rounded-[10px]"
               routerLink="discord/deconnexion">Déconnexion</a>
        </div>
    </app-modal>
</dialog>
<div *ngIf="($user | async) as user">
    <p class="text-yellow text-16">Mon profile</p>
    <h1 class="font-bold uppercase text-28 font-monument my-[25px]">{{ user?.username || "Ninja Sans Nom" }}</h1>
    <p class="font-light uppercase text-10 text-light-gray font-monument">ID {{ user?._id }}</p>
    <p class="text-pink text-14 mt-[5px]">
        <ng-container *ngFor="let role of (user | roles)">
            <span>{{ role }}</span><span class="text-purple-gradient mx-[10px] last:hidden">/</span>
        </ng-container>
    </p>
    <app-spacer-graphical class="my-[50px]"></app-spacer-graphical>
    <!--<h2 class="font-light uppercase font-monument text-10 text-light-gray mb-[18px]">équipes</h2>
    <ul>
        <li *ngFor="let group of user.groups">
            <a [routerLink]="['/group', group.group._id]"
               class="w-full max-w-md flex-row justify-between black-button h-[55px] mb-[12px]">
                <p class="text-white">{{group.group.name}} <span class="text-pink ms-[10px]">{{group.role | roleName}}</span></p>
                <app-arrow-right class="fill-pink"/>
            </a>
        </li>
    </ul>
    <a routerLink="/groupes/ajouter"
       class="w-full max-w-md justify-center black-button h-[76px]">
        <app-plus-symbol class="fill-pink"/>
    </a>
    <app-spacer class="my-[50px] bg-lighter-dark"></app-spacer>-->
    <form (ngSubmit)="changeUsername(usernameField.value)" class="flex max-w-md flex-col mb-[50px]">
        <h2 class="font-light uppercase font-monument text-10 text-light-gray mb-[18px]">nom du compte</h2>
        <input #usernameField="ngModel"
               class="input h-[55px] text-16 mb-[12px] ps-[24px]"
               maxlength="20"
               minlength="3"
               name="username"
               ngModel="{{user.username || ''}}"
               placeholder="Ninja sans nom (défaut)"
               required
               type="text">
        <button [disabled]="usernameField.invalid || usernameField.value === user.username"
                class="w-full black-button h-[55px] text-16 text-pink disabled:text-dark-gray disabled:cursor-default disabled:hover:bg-black"
                type="submit">
            Modifier
        </button>
    </form>
    <button (click)="user.discordId ? discordDisconnectDialog.show() : discordConnectDialog.show()"
            class="mb-[50px] gap-[10px] flex flex-row items-center justify-start px-[24px] bg-dark-purple rounded-[10px] w-full max-w-md h-[70px] hover:bg-opacity-90">
        <img alt="Discord logo" src="assets/images/discord.svg">
        <span *ngIf="!user.discordId">Connecter le compte à Discord</span>
        <span *ngIf="user.discordId">Déconnecter le compte Discord</span>
    </button>
    <form (ngSubmit)="newEmail = emailField.value; changeEmailDialog.show()" class="flex max-w-md flex-col">
        <h2 class="font-light uppercase font-monument text-10 text-light-gray mb-[18px]">email</h2>
        <input #emailField="ngModel"
               class="input h-[55px] text-16 mb-[12px] ps-[24px]"
               name="email"
               ngModel="{{user.email}}"
               required
               type="text">
        <button [disabled]="emailField.invalid || emailField.value === user.email"
                class="w-full black-button h-[55px] text-16 text-pink disabled:text-dark-gray disabled:cursor-default disabled:hover:bg-black"
                type="submit">
            Modifier
        </button>
    </form>
    <app-spacer-graphical class="my-[50px]"></app-spacer-graphical>
    <button (click)="disconnect()" class="w-full max-w-md justify-between black-button h-[55px]" type="submit">
        <span class="text-blue text-16">Me déconnecter</span>
        <app-arrow-right class="fill-light-gray"/>
    </button>
    <app-spacer class="my-[50px] bg-lighter-dark"/>
    <div class="space-y-[18px]">
        <h2 class="font-light uppercase font-monument text-light-gray text-10">crédits + données</h2>
        <p class="text-pink text-14">Ninjadex est une app de création de personnage proposée pour Naruto jeu de rôle et produite par sa
            communauté.</p>
        <ul class="list-outside list-square ms-[20px] text-14">
            <li>Création + design : Pierre Ragois.</li>
            <li>Développement : Mael Porret, Stéphane Mignon.</li>
            <li>Polices : Monument Extended + Neue Montreal de Pangram Pangram Foundry.</li>
        </ul>
        <p class="text-14">
            Nous utilisons ReCaptcha de Google pour éviter les bots. Vous pouvez lire les conditions d’utilisation de ce service ci-dessous.
        </p>
        <a class="black-button h-[55px] w-full max-w-md justify-between text-16" href="https://policies.google.com/terms">
            <span>Conditions d’utilisation <span class="text-pink ms-[10px]">Google</span></span>
            <app-arrow-right class="fill-pink"/>
        </a>
        <a class="black-button h-[55px] w-full max-w-md justify-between text-16" href="https://policies.google.com/privacy">
            <span>Règles de confidentialité <span class="text-pink ms-[10px]">Google</span></span>
            <app-arrow-right class="fill-pink"/>
        </a>
        <p class="text-14">
            Aucune donnée n’est utilisée à des fins commerciales directes, indirectes ou vendues à des entreprises tierces. <br>
            Si vous souhaitez faire disparaitre toutes vos données et tout vos personnages, c’est juste en dessous. No backup.
        </p>
    </div>
    <button (click)="deleteAccountDialog.show()"
            class="my-[100px] w-full max-w-md black-button h-[55px] text-16 text-red justify-between">
        Supprimer mon compte
        <app-arrow-right class="fill-light-gray"/>
    </button>
</div>
