<a class="text-16 text-yellow" routerLink="/personnages/creation">+ Créer</a>
<h1 class="font-bold uppercase text-28 font-monument mt-[25px] mb-[15px]">liste des personnages</h1>
<p class="text-14 text-gray">Naruto jeu de rôle</p>
<app-spacer-graphical class="my-[50px]"/>
<app-character-list-preview *ngFor="let character of (auth.userObservableOnceLoaded() | async)?.characters" [character]="character"/>
<a routerLink="/personnages/creation"
   class="w-full justify-center black-button h-[76px]">
    <svg class="fill-pink" width="20" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 0H9.5V9H0.5V11H9.5V20H11.5V11H20.5V9H11.5V0Z"/>
    </svg>
</a>
<app-spacer class="my-[50px] bg-lighter-dark"/>
<a href="" class="block w-fit font-bold uppercase text-20 font-monument text-purple-gradient">→ discord</a>
<a href="" class="block w-fit font-bold uppercase text-20 font-monument text-purple-gradient">→ actual plays</a>
<a href="" class="block w-fit font-bold uppercase text-20 font-monument text-purple-gradient">→ ressources</a>
<app-spacer-graphical class="mt-[50px] mb-[30px]"/>
<p class="mb-[50px] text-14 font-light">Ninja Builder est une app de création de personnage pour Naruto jeu de rôle.</p>
<p class="text-dark-gray text-14 mb-[180px]">Naruto-jdr.com <span class="ms-[25px]">2004-2023</span></p>