<a class="text-16 text-yellow" routerLink="/personnages/creation">+ Créer</a>
<h1 class="font-bold uppercase text-28 font-monument mt-[25px] mb-[15px]">liste des personnages</h1>
<h2 class="text-14 text-gray">Naruto jeu de rôle</h2>
<app-spacer-graphical class="my-[50px]"/>
<app-character-list-preview *ngFor="let character of (auth.userObservableOnceLoaded() | async)?.characters" [character]="character"/>
<a routerLink="/personnages/creation"
   class="w-full justify-center black-button h-[76px] mb-[50px]">
    <app-plus-symbol class="fill-pink"/>
</a>
<h2 class="font-light uppercase text-light-gray text-10 font-monument mb-[18px]">commu</h2>
<a class="flex w-full flex-col gray-box py-[25px] px-[15px] hover:filter hover:brightness-110 !bg-[url('assets/images/backgrounds/demon.webp')]"
   routerLink="/personnages/pretires">
    <span class="mb-[12px] text-22">Prétirés</span>
    <span class="font-light uppercase text-pink me-[12px]">créés par la communauté</span>
    <span class="font-light text-light-gray">Genin à Sensei</span>
</a>
<app-spacer class="my-[50px] bg-lighter-dark"/>
<a class="block w-fit font-bold uppercase text-20 font-monument text-purple-gradient" href="https://discord.gg/C6TVG4q">→ discord</a>
<a class="block w-fit font-bold uppercase text-20 font-monument text-purple-gradient" href="https://www.youtube.com/@narutojdr">→ actual plays</a>
<a class="block w-fit font-bold uppercase text-20 font-monument text-purple-gradient"
   href="https://www.dropbox.com/sh/ninpayam53pewzu/AACvLDrEC9Ub9pS1Co55CyOOa?dl=0">→ ressources</a>
<app-spacer-graphical class="mt-[50px] mb-[30px]"/>
<p class="font-light mb-[50px] text-14">Ninja Builder est une app de création de personnage pour Naruto jeu de rôle.</p>
<p class="text-dark-gray text-14 mb-[180px]">Naruto-jdr.com <span class="ms-[25px]">2004-2023</span></p>