<h1 class="text-25 font-bold font-monument uppercase mb-[18px]">Compétences</h1>
<div class="mt-[12px] labeled-select">
    <label>Filtrer</label>
    <select [(ngModel)]="filter" class="!text-yellow pl-[83px]" name="filter">
        <option *ngFor="let filter of ['Toutes', 'Communes', 'Combat', 'Terrain', 'Clan']"
                [ngValue]="filter">{{ filter }}
        </option>
    </select>
</div>
<div class="mt-[12px] labeled-input">
    <input class="ps-[63px]" placeholder="Rechercher" [(ngModel)]="search">
    <label><img ngSrc="assets/images/search.svg" height="24" width="24" alt="Chercher"></label>
</div>
<div class="space-y-[12px] mt-[30px] mb-[100px]">
    <a *ngFor="let skill of filteredSkills()" [routerLink]="skill._id.toString()"
       class="text-yellow hover:bg-opacity-95 flex w-full max-w-md flex-row items-center justify-between border bg-light-dark border-lighter-dark px-[24px] py-[18px] rounded-[10px] text-16">
        {{ skill.name }}
        <app-arrow-right class="fill-light-gray"/>
    </a>
</div>