@import "variables";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "assets/fonts/fonts";

body {
  @extend .font-primary;
  background-color: $dark;
}

a {
  color: $purple;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input.input-invisible {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
