@import "variables";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "assets/fonts/fonts";

@layer base {

  html {
    @apply font-neue bg-dark text-white;
    background-image: url("assets/images/backgrounds/bg-large.png");
    background-repeat: repeat;
  }

  a {
    @apply text-purple no-underline hocus:underline;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}

@layer components {
}

@layer utilities {
}
