<a *ngIf="(character.clan | idToData:(dataService.clans | async)) as clan" class="flex gray-box py-[18px] px-[12px] mb-[12px] hover:bg-lighter-dark">
    <img [src]="env.api_url + '/assets/clans/'+ clan.name.toLowerCase() + '-purple.svg'"
         alt="character image" class="gray-box ms-[12px] me-[18px] !bg-black x-[52px] h-[52px] p-[13px]">
    <div>
        <p class="text-20">{{ character.firstName }} {{ clan.name }}</p>
        <p class="text-light-gray font-light text-12">{{ (character.rank | idToData:dataService.ranks.getValue())?.name }}</p>
    </div>
</a>