<div class="w-full bg-black px-[15px]">
    <div class="container mx-auto flex flex-row items-center justify-between pt-[20px] pb-[15px] h-[70px]">
        <p class="flex space-x-[10px]">
            <a [routerLink]="backUrl" class="flex flex-row items-center text-16 hover:underline">
                <app-long-arrow-left class="fill-white me-[10px]"/>
                Retour
            </a>
            <span *ngIf="text" class="font-light text-light-gray"> / {{text}}</span>
        </p>
        <div></div>
    </div>
</div>