<div class="bg-black border border-lighter-dark pt-[30px] px-[24px] pb-[50px] rounded-[26px] text-white flex flex-col shadow-lg max-w-md">
    <button class="bg-white p-[7px] rounded-[13px] place-self-end hover:bg-light" (click)="close.emit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
            <path d="M8 1L1 8M1 1L8 8" stroke="#030505" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
    <h1 class="font-monument font-bold text-20 uppercase my-[18px]" [innerHTML]="mtitle"></h1>
    <p class="mb-[30px]" [innerHTML]="mtext"></p>
    <ng-content />
</div>