<div *ngIf="$notification | async"
     @appear
     class="w-full z-40 absolute top-0 bg-[url('assets/images/backgrounds/notification.webp')] bg-cover px-[15px]">
  <div class="container mx-auto flex items-center justify-between py-[18px]">
    <div>
      <p class="w-fit font-bold uppercase leading-7 font-monument text-orange-gradient text-20">{{($notification | async)?.title}}</p>
      <p class="leading-4">{{($notification | async)?.content}}</p>
    </div>
    <div (click)="close()" class="rounded-2xl bg-white w-[21px] h-[21px] hocus:bg-light">
      <svg class="fill-black m-[5px]" width="11" height="11" viewBox="0 0 9 10" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 1.5L1 8.5M1 1.5L8 8.5" stroke="#030505" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
</div>
